@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: 'LXGW WenKai Lite', sans-serif;
  font-display: swap;
}

.miaoyan-image-container {
  padding-bottom: 62.5%;
  height: 0;
}

.gradient {
  background: linear-gradient(60deg, #36563c 0%, #36563c 100%);
}

.i18n-switch-lang,
.i18n-home-href {
  z-index: 100;
}

.i18n-miao-href:before {
  content: '喂猫 ❤️';
}
[lang='en'] .i18n-miao-href:before {
  content: 'Pay ❤️';
}

.i18n-miao-people:before {
  content: '喂猫的朋友们';
}
[lang='en'] .i18n-miao-people:before {
  content: 'Friends who feed the cat';
}

.i18n-miao-people-desc:before {
  content: '每周手动更新，喂猫同学人数和虚拟世界中匹配';
}
[lang='en'] .i18n-miao-people-desc:before {
  content: 'Weekly manual update, matching the number of cat feeding friends with that in the virtual world';
}

.i18n-miao-people-nums:before {
  content: '木子君、Jerk、芸璟、薛定谔的盲盒、乐宝、忸祁、小锐、嬷嬷嬷呀，当前共计 8 人 ❤️ 妙言。';
}
[lang='en'] .i18n-miao-people-nums:before {
  content: '木子君、Jerk、芸璟、薛定谔的盲盒、乐宝、忸祁、小锐、嬷嬷嬷呀, in total 8 friends ❤ MiaoYan.';
}


.i18n-home-href:before {
  content: '首页';
}
[lang='en'] .i18n-home-href:before {
  content: 'Home';
}

.i18n-switch-lang:before {
  content: 'EN';
}
[lang='en'] .i18n-switch-lang:before {
  content: '中文';
}

.i18n-title:before {
  content: '妙言';
}
[lang='en'] .i18n-title {
  letter-spacing: normal;
}
[lang='en'] .i18n-title:before {
  content: 'MiaoYan';
}

.i18n-cats-decs:before {
  content: '喜欢妙言？可以给「汤圆 & 可乐」买罐头吃！';
}
[lang='en'] .i18n-cats-decs:before {
  content: 'Like MiaoYan? Buy cans for「TangYuan & Coke」.';
}

.i18n-description:before {
  content: '轻灵的 Markdown 笔记本伴你写出妙言~';
}
[lang='en'] .i18n-description:before {
  content: 'Lightweight Markdown app to help you write great sentences.';
}

.i18n-download:before {
  content: '下载';
}
[lang='en'] .i18n-download:before {
  content: 'Download';
}

.i18n-feature:before {
  content: '特征';
}
[lang='en'] .i18n-feature:before {
  content: 'Features';
}
.i18n-miao:before {
  content: '妙';
}
[lang='en'] .i18n-miao:before {
  content: 'Fantastic';
}
.i18n-miao-decs:before {
  content: '1. 纯本地使用，无需联网即可使用，源文件保存\a 2. 安全，完全开源 Github，不会上传用户信息\a 3. 支持语法高亮、黑暗模式、国际化、演示模式、文档自动排版';
}
[lang='en'] .i18n-miao-decs:before {
  content: '1. Purely local, no internet access required, source files saved.\a 2. Secure, fully open source Github, no user information uploaded.\a 3. Supports syntax highlighting, dark mode, internationalization, presentation mode, document auto typesetting.';
}

@media (min-width: 1024px) {
  [lang='en'] .i18n-jian-view.lg\:pl-48,
  [lang='en'] .i18n-mei-view.lg\:pl-48 {
    padding-left: 4rem;
  }
}
.i18n-mei:before {
  content: '美';
}
[lang='en'] .i18n-mei:before {
  content: 'Beauty';
}
.i18n-mei-decs:before {
  content: '1. 极简的设计风格，没有多余的东西\a 2. 文件夹 + 文件列表 + 编辑器三栏设计，可收起\a 3. 中文默认使用霞鹜文楷字体，让文字也很美';
}
[lang='en'] .i18n-mei-decs:before {
  content: '1. Minimalist design style, no unnecessary stuff.\a 2. Folder + file list + editor three-column design, can be tucked away.\a 3. Chinese default use LxgwWenKai font, make the text is also beautiful.';
}

.i18n-kuai:before {
  content: '快';
}
[lang='en'] .i18n-kuai:before {
  content: 'Fast';
}
.i18n-kuai-decs:before {
  content: '1. 使用 Swift5 开发，原生极致性能\a 2. 对多文件做了特别的性能优化，确保不卡顿\a 3. 相比当前市面上套壳 Web 的方式轻巧很多';
}
[lang='en'] .i18n-kuai-decs:before {
  content: '1. Developed in Swift5 for the ultimate in native performance\a 2. Specially optimized for multi-file performance to ensure no lag\a 3. Much lighter than any electron app on the market.';
}

.i18n-jian:before {
  content: '简';
}
[lang='en'] .i18n-jian:before {
  content: 'Simple';
}
.i18n-jian-decs:before {
  content: '1. 操作过程很轻巧，不耽误你的时间\a 2. 编辑体验媲美原生代码编辑器\a 3. 内置众多快捷键助你快人一步';
}
[lang='en'] .i18n-jian-decs:before {
  content: '1. Developed in Swift5 for the ultimate in native performance\a 2. Specially optimized for multi-file performance to ensure no lag\a 3. Much lighter than any electron app on the market.';
}

.i18n-footer-title:before {
  content: '觉得不错？';
}
[lang='en'] .i18n-footer-title:before {
  content: 'Feel Good?';
}
.i18n-footer-desc:before {
  content: ' 去 Product Hunt 给妙言投票吧!';
}
[lang='en'] .i18n-footer-desc:before {
  content: 'Go and vote for MiaoYan !';
}
