name: Update sponsors board

on:
  workflow_dispatch:
  push:
    branches:
      - vercel
  schedule:
    - cron: "0 2 * * *"

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest
    if: github.repository_owner == 'tw93'
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install --no-fund --no-audit

      - name: Rebuild sponsor board
        env:
          SPONSORS_TOKEN: ${{ secrets.SPONSORS_TOKEN }}
        run: |
          npm run sponsors
          npm run build

      - name: Commit changes
        run: |
          if [[ -n "$(git status --porcelain)" ]]; then
            git config user.name "github-actions[bot]"
            git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
            git commit -am "chore: update sponsor board"
            git push
          else
            echo "No changes."
          fi
